body {
    background-color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    text-align: center;
    margin: 10px auto 20px auto;
    font-weight: bold;
    color: orangered;
    font-size: 2rem;
    background-color: lemonchiffon;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
#resultContainer {
    width: 50%;
    height: 300px;
    border: 20px groove violet;
    background-color: darkseagreen;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
#playContainer {
    width: 70%;
    padding: 10px;
    margin: 20px auto;
    background-color: transparent;
    border: 10px solid rgba(90, 90, 90, 0.6);
    display: block;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
#btnContainer {
    width: 60%;
    padding: 0;
    border: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn {
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(70, 70, 70);
    border: 2px solid rgb(50, 50, 50);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.btn:active {
    background-color: rgb(200, 200, 200);
    color: black;
}
#play {
    margin: 10px auto 20px auto;
    font-weight: bold;
    color: orangered;
    font-size: 35px;
    background-color: lemonchiffon;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}